.App {
  padding: 20px;
}

.listPokemon {
  text-align: center;
}

.listPokemon ul {
  display: inline-block;
  padding: 0px;
}

.listPokemon ul li {
  list-style-type: none;
}

.containerPokemon {
  text-align: center;
  margin-right: calc(-1 * (100vw - 100%));
}

.typePokemon {
  display: inline;
  padding-left: 10px;
}

.typePokemonText {
  margin-bottom: 5px;
}

.imagePokemon {
  display: block;
  margin: 0px auto;
}

.showMovesPokemon {
  display: block;
  margin: 20px auto;
}

.movesPokemon {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}

.movesPokemon li {
  list-style-type: none;
}
